*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial,sans-serif;
}
body {
    background-color: whitesmoke;
}
.navbar{
    background-color: white;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;
    padding: 15px 0px;


}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    }   
.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
}
.nav-links{
    display: none;
    gap: 20px;
   list-style: none;

}
.nav-links li a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}
.nav-links li a:hover{
    color: #007BFF;
    transform: scale(1.1);
}
.login-btn{
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
    border: none;
}
.login-btn:hover{
    background-color: #0056b3;
    transform: scale(1.1);
}
.menu-toggle{
    display: none;
    cursor: pointer;
   font-size: 24px;
}
@media (max-width: 768px){
    .nav-links{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: white;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
    .nav-links:active{
        display: flex;
    }
    .nav-links li{
        margin: 10px 0;
    }
    .menu-toggle{
        display: block;
    }
   
}
