
{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title  %} Create/Update Student {% endblock  %}

{% block content %}
   {% if edit %}
      <h1 class="py-3 container">Edit Student Data</h1>
    {% else %}
      <h1 class="py-3 container">Create New Student</h1>
    {% endif %}
      
    <form class="container" method="post" enctype="multipart/form-data" novalidate>
      {% csrf_token %}
      {{ form|crispy }}

      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  
{% endblock  %}
  